@import "../colors.scss";

@keyframes fromLeft {
  0% {
    opacity: 0.3;
    transform: translateY(20rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fromRight {
  0% {
    opacity: 0.3;
    transform: translateY(20rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.entry-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  transition: all 0.5s;
  position: relative;
  &:hover .remove-entry {
    visibility: visible;
    animation-name: fromTop;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  }

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.75);
    z-index: 10;
  }

  &.expense {
    background-image: linear-gradient(to left, $col-6, $col-4);
    color: $col-2;
    width: auto;
  }

  &.income {
    background-image: linear-gradient(to left, $col-1, $col-3);
    color: $col-2;
    width: auto;
  }

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.75);
    z-index: 10;
  }

  &.green {
    background-color: $col-1;
  }

  &.red {
    background-color: #f78b81;
  }

  p {
    margin: 1rem 2rem;
  }

  .remove-entry {
    visibility: hidden;
    font-weight: 700;

    &:hover {
      cursor: pointer;
    }
  }
}
