@import "../colors.scss";

@keyframes aaaaa {
  0% {
    transform: translateY(-5rem);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes toBottom {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translateY(5rem);
  }
}

.header-container {
  height: 30rem;
  margin-bottom: 5rem;
  text-align: center;
  display: grid;

  .income {
    color: $col-1;
  }

  .expense {
    color: $col-4;
  }

  p {
    font-size: 10rem;
    display: inline-block;
    margin: 0 auto;
    margin-top: 10rem;
  }

  .before,
  .after,
  .middle {
    grid-column: 1;
    grid-row: 1;
  }

  .before,
  .after {
    display: none;
  }

  .fromTop {
    display: inline-block;
    animation: aaaaa;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.74, -0.3, 0.25, 1.68);
    z-index: 10;
    color: $col-3;
  }

  .toBottom {
    display: inline-block;
    animation-name: toBottom;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.33, 0.56, 0.56, 0.92);
    z-index: 10;
    color: $col-6;
  }
}
