@import "../colors.scss";

.income-expense-container {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  // background-color: red;
  max-height: auto;
  width: 50%;
  margin: 0 auto;
  // min-height: 9rem;
}

.income-container {
  // display: flex;
  // flex-direction: column;
  display: inline-block;
  width: 100%;
  min-height: 9rem;
  background-color: $col-2;
}

.expense-container {
  // display: flex;
  // flex-direction: column;
  display: inline-block;
  width: 100%;
  min-height: 9rem;
  background-color: $col-5;
}
